<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>PROGRAMACION VISUAL!!!</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<header id="encabezado">
		<nav class="header">
			<h1>PROGRAMACION VISUAL</h1>
			<div class="cont">
				<h2>JAVA</h2>
				<img src="/images/java.png">
			</div>
			<ul class="barra_de_nav">
				<li><a href="#PrimeraParte">Primera Parte</a></li>
				<li><a href="#SegundaParte">Segunda Parte</a></li>
				<li><a href="#TerceraParte">Tercera Parte</a></li>
				<li><a href="#CuartaParte">Cuarta Parte</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<div>
			<h2 id="PrimeraParte">Primera Parte</h2>
			<div class="first-section">
				<section>
					<h2>Java</h2>
					<p>Java es un lenguaje de programación de alto nivel,
						(altamente tipado), y orientado a objetos, desarrollado por Sun
						Microsystems (ahora propiedad de Oracle). Es ampliamente utilizado
						en el desarrollo de aplicaciones de escritorio, aplicaciones web,
						aplicaciones móviles, sistemas embebidos y más.</p>
					<p>Entre sus características principales se encuentran la
						portabilidad, la seguridad, el manejo automático de memoria y la amplia comunidad de
						desarrolladores.</p>
				</section>
				<section>
					<h2>Spring Tool Suite (STS)</h2>
					<p>Spring Tool Suite es un entorno de desarrollo integrado
						(IDE) basado en Eclipse y desarrollado por Pivotal. Está diseñado
						específicamente para facilitar el desarrollo de aplicaciones
						basadas en el framework Spring para Java.</p>
					<p>STS proporciona características adicionales y herramientas
						para simplificar el desarrollo de aplicaciones Spring, como
						asistentes de configuración, integración con Maven y Gradle,
						herramientas de visualización de proyectos, depuración avanzada, y
						más.</p>
				</section>
			</div>
			<h2 class="titulo" id="SegundaParte">Segunda Parte:</h2>
			<h2>Información sobre Java</h2>
			<div class="container">
				<div class="second-section">
					<section>
						<h2>String</h2>
						<p>En Java, String es una clase que representa una secuencia
							de caracteres. Se utiliza para manipular cadenas de texto, como
							concatenar, comparar y extraer subcadenas.</p>
					</section>
					<section>
						<h2>Calendar</h2>
						<p>Calendar es una clase en Java que proporciona métodos para
							manejar fechas y horas en el calendario gregoriano. Se utiliza
							para realizar operaciones como obtener el año, mes, día, hora y
							minutos de una fecha.</p>
					</section>
					<section>
						<h2>LocalDate</h2>
						<p>LocalDate es una clase introducida en Java 8 que representa
							una fecha sin zona horaria. Se utiliza para representar fechas en
							el formato "año-mes-día" y proporciona métodos para realizar
							operaciones con fechas.</p>
					</section>
				</div>
				<div class="third-section">
					<section>
						<h2>Datos primitivos</h2>
						<p>En Java, los datos primitivos son tipos de datos básicos
							que representan valores simples. Los datos primitivos incluyen
							tipos como int, double, boolean, char, entre otros. Se utilizan
							para almacenar valores individuales y se pasan por valor.</p>
					</section>
					<section>
						<h2>Conversiones implícitas y explícitas</h2>
						<p>Las conversiones implícitas en Java son conversiones de
							tipos de datos que ocurren automáticamente sin requerir una
							acción explícita del programador. Por otro lado, las conversiones
							explícitas son conversiones que requieren una acción explícita
							del programador, como el casting de tipos.</p>
					</section>
					<section>
						<h2>Wrappers</h2>
						<p>Los wrappers en Java son clases que encapsulan tipos de
							datos primitivos. Se utilizan para convertir tipos de datos
							primitivos en objetos y proporcionan métodos útiles para trabajar
							con ellos. Ejemplos de wrappers incluyen Integer, Double,
							Boolean, Character, entre otros.</p>
					</section>
				</div>
			</div>
			<h2 id="TerceraParte">Tercera Parte:</h2>
			<h2>Tipos de Datos Interfaces y Arreglos</h2>
			<div class="tabla">
			<h2>Tipos De Datos:</h2><br>
				<table>
					<tr>
						<th>Tipo de Dato</th>
						<th>Descripción</th>
						<th>Tamaño (en bytes)</th>
						<th>Rango</th>
						<th>Ejemplo</th>
					</tr>
					<tr>
						<td>byte</td>
						<td>Entero de 8 bits con signo</td>
						<td>1</td>
						<td>-128 a 127</td>
						<td>byte edad = 25;</td>
					</tr>
					<tr>
						<td>short</td>
						<td>Entero de 16 bits con signo</td>
						<td>2</td>
						<td>-32,768 a 32,767</td>
						<td>short temperatura = -10;</td>
					</tr>
					<tr>
						<td>int</td>
						<td>Entero de 32 bits con signo</td>
						<td>4</td>
						<td>-2,147,483,648 a 2,147,483,647</td>
						<td>int cantidad = 1000;</td>
					</tr>
					<tr>
						<td>long</td>
						<td>Entero de 64 bits con signo</td>
						<td>8</td>
						<td>-9,223,372,036,854,775,808 a 9,223,372,036,854,775,807</td>
						<td>long poblacionMundial = 7800000000L;</td>
					</tr>
					<tr>
						<td>float</td>
						<td>Número de coma flotante de precisión simple</td>
						<td>4</td>
						<td>aproximadamente ±3.40282347E+38F</td>
						<td>float altura = 1.75f;</td>
					</tr>
					<tr>
						<td>double</td>
						<td>Número de coma flotante de precisión doble</td>
						<td>8</td>
						<td>aproximadamente ±1.79769313486231570E+308</td>
						<td>double precio = 19.99;</td>
					</tr>
					<tr>
						<td>char</td>
						<td>Un solo carácter Unicode de 16 bits</td>
						<td>2</td>
						<td>0 a 65,535</td>
						<td>char inicial = 'A';</td>
					</tr>
					<tr>
						<td>boolean</td>
						<td>Tipo de datos booleano</td>
						<td>1 (generalmente)</td>
						<td>true o false</td>
						<td>boolean activo = true;</td>
					</tr>
				</table>
			</div>
			<div class="conteiner_interface">
				<div>
					<h3>Interfaces:</h3>
					<p>En Java, una interfaz es una colección de métodos abstractos
						y constantes. Proporciona un mecanismo para definir un contrato
						que las clases deben seguir cuando implementan la interfaz.</p>
					<p>Las interfaces se utilizan para definir un conjunto común de
						métodos que pueden ser implementados por diferentes clases de
						manera independiente. Esto facilita la creación de código modular
						y promueve la reutilización.</p>
					<p>Ejemplo:</p>
					<pre>
						<code>
							public interface Forma {
						    	double calcularArea();
						    	double calcularPerimetro();}
    					</code>
					</pre>
					<p>Una clase puede implementar una interfaz utilizando la
						palabra clave `implements` y proporcionar implementaciones
						concretas para los métodos definidos en la interfaz.</p>
				</div>
			</div>
			<div class="container_array">
				<h3>Arreglos:</h3>
				<p>En Java, un arreglo es una estructura de datos que contiene
					un conjunto de elementos del mismo tipo, almacenados en posiciones
					contiguas de memoria.</p>
				<p>Los arreglos pueden ser unidimensionales o
					multidimensionales. Los arreglos unidimensionales tienen una sola
					fila de elementos, mientras que los arreglos multidimensionales
					tienen varias filas y columnas.</p>
				<p>Para declarar y utilizar un arreglo en Java, se utiliza la
					siguiente sintaxis:</p><br>
				<pre>
					<code>// Declaración e inicialización de un arreglo unidimensional
							int[] numeros = new int[5];
							// Acceso y asignación de valores a elementos del arreglo
							numeros[0] = 10;
							numeros[1] = 20;
							// Declaración e inicialización de un arreglo multidimensional
							int[][] matriz = new int[3][3];
							// Acceso y asignación de valores a elementos de la matriz
							matriz[0][0] = 1;
							matriz[0][1] = 2;
					</code>
				</pre>
				<p>Los arreglos son una estructura de datos fundamental en Java
					y se utilizan ampliamente para almacenar y manipular colecciones de
					datos.</p>
			</div>
			<div class="container_col">
				<h3>Colecciones:</h3>
				<p>En Java, las colecciones son estructuras de datos que
					permiten almacenar y manipular conjuntos de objetos de manera
					dinámica.</p>
				<p>Java proporciona una amplia variedad de clases y interfaces
					en el paquete `java.util` para trabajar con colecciones. Algunas de
					las interfaces más comunes son `List`, `Set` y `Map`.</p>
				<p>Las colecciones en Java pueden contener elementos de
					cualquier tipo de objeto, incluidos los tipos primitivos si se
					utilizan clases envolventes.</p>
				<p>Para utilizar colecciones en Java, primero debes importar el
					paquete `java.util` y luego puedes crear instancias de las clases
					de colecciones según tus necesidades. Aquí hay un ejemplo de cómo
					crear e inicializar una lista:</p>
				<p>Las colecciones son fundamentales en Java y se utilizan
					ampliamente en el desarrollo de aplicaciones para almacenar,
					recuperar y manipular datos de manera eficiente.</p>
			</div>
			<h2 id="CuartaParte">Cuarta Parte:</h2>
			<div class="last_section">
				<section>
					<h2>Programación Funcional:</h2>
					<p>La programación funcional es un paradigma de programación
						que se centra en el uso de funciones como elementos fundamentales
						y en el tratamiento de la computación como una evaluación de
						funciones matemáticas. Se basa en el concepto de funciones puras,
						que producen resultados sin efectos secundarios y en la
						inmutabilidad de los datos. En Java, la programación funcional se
						ha vuelto más prominente con la introducción de características
						como expresiones lambda y Stream API en Java 8.</p>
				</section>
				<section>
					<h2>Enumerados:</h2>
					<p>Los enumerados, o enums, son un tipo especial de clase en
						Java que consta de un conjunto fijo de constantes predefinidas.
						Los enums permiten definir un tipo de datos que puede tomar solo
						un conjunto específico de valores, lo que hace que el código sea
						más legible y menos propenso a errores. En Java, los enums se
						definen utilizando la palabra clave y pueden contener métodos,
						campos y constructores como cualquier otra clase.</p>
				</section>
				<section>
					<h2>Expresiones Lambda:</h2>
					<p>Las expresiones lambda son una característica introducida en
						Java 8 que permite tratar las funciones como objetos de primera
						clase. Una expresión lambda es una función anónima que se puede
						pasar como argumento a un método o almacenar en una variable.
						Estas expresiones proporcionan una forma más concisa de escribir
						código que utiliza interfaces funcionales, como. Las expresiones
						lambda en Java se componen de parámetros, una flecha y un cuerpo
						de expresión o declaración. Su introducción ha simplificado la
						escritura de código en Java y ha mejorado la legibilidad y la
						expresividad del lenguaje.</p>
				</section>
			</div>
		</div>
	</main>
	<aside>
		<h3>Recursos Adicionales</h3>
		<ul>
			<li><a href="https://www.java.com">Página oficial de Java</a> <img
				alt="Java"
				src="https://cdn-1.webcatalog.io/catalog/dev-java/dev-java-icon-filled-256.webp?v=1714776949740"></li>
			<li><a href="https://spring.io/tools">Sitio web de Spring
					Tool Suite</a></li>
			<li><a href="https://www.eclipse.org/sts">Página oficial de
					Eclipse Spring Tool Suite</a><img alt="Eclipse"
				src="https://edertxodw.wordpress.com/wp-content/uploads/2015/10/eclipse.png"></li>
		</ul>
	</aside>
	<footer>
		<div class="footer-content">
			<h3>Información de Contacto:</h3>
			<ul>
				<li><strong>Profesores:</strong> Ariel Alejandro Vega, Carolina
					Apaza, Juan Carlos Rodriguez</li>
				<li><strong>Materia:</strong> PROGRAMACION VISUAL</li>
				<li><strong>Horarios de Cursada:</strong> Lunes de 14 a 17hs y
					Viernes de 18:00 a 21:00</li>
			</ul>
		</div>
		<div class="footer-link">
			<a href="https://www.ejemplo.com" target="_blank">Más Información</a>
		</div>
		<img src="/images/java.png">
	</footer>
</body>
</html>